header, footer {
    background-color: blue;
    border-radius: 10px;
    height : 50px;
}
.container {
    height : 600px;
    display: flex;
    gap: 5px;
    margin: 5px;
}
article {
    background-color: #6495ED;
    order: 2;
    width: 50%;
}
nav, aside {
    width: 25%;
    background-color: #FF7F50;
}
nav {
    order: 1;
}
aside {
    order : 3;
}
.container > * {
    border-radius: 10px;
}